* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  height: 100vh;
  background-color: black;
  background-image: url(https://myeatandtravelstory.files.wordpress.com/2022/03/cover-taman-safari-bogor-1500x1000-1.jpg?w=1500&h=1000&crop=1);  
  background-size: cover;
  background-position: center;
  background-position-y: -10px;
}

li {
  list-style: none;  
}

a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}

a:hover {
  color: orange;  
}
/* HEADER */
header{
  position: relative;
  padding: 0 2rem;  
}

.navbar{
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;  
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
  display: flex;
  gap: 2rem;  
}

.navbar .toggle_btn{
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  
}

.menu-index{
  width: 7%;  
}

.action_btn {
  background-color: orange;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
}

.action_btn:hover {
  scale: 1.05;
  color: white  
}

.action_btn:active {
  scale: 0.95;  
}

.toggle_btn {
    align-items: center;
    justify-content: right;
}

/* DROPDOWN MENU */
.dropdown_menu {
  display: none;  
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(q15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height: 240px;  
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;  
}

/* RESPONSIVE DESIGN */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: flex;
  }

  .dropdown_menu {
    display: block;
  }
}



/*Isi*/
.tentang {
   width: 100%;
   padding: 78px 0px;  
   background-color: 191919;
}
.tentang img {
    height: auto;
    width: 420px;
}
.tentang-text {
    width: 550px;
}
.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.tentang-text h1 {
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.tentang-text p {
    color: white;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
    background-color: rgba(0, 0, 0, 0.5);
}
button{
    background: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
}